<div class="todo-list-actions">
  <div class="btn-group">
    <div class="radio btn">
      <input
        type="radio"
        name="todo-filter"
        [value]="null"
        [formControl]="todoFilter"
        id="all-todos"
      />
      <label for="all-todos">Todos</label>
    </div>
    <div class="radio btn">
      <input
        type="radio"
        name="todo-filter"
        [value]="true"
        [formControl]="todoFilter"
        id="completed-todos"
      />
      <label for="completed-todos">Feitos</label>
    </div>
    <div class="radio btn">
      <input
        type="radio"
        name="todo-filter"
        [value]="false"
        [formControl]="todoFilter"
        id="incomplete-todos"
      />
      <label for="incomplete-todos">A fazer</label>
    </div>
  </div>

  <button class="btn btn-primary" [routerLink]="['/','todos', 'new']">Novo</button>
</div>
<clr-accordion>
  <clr-accordion-panel *ngFor="let todo of (todos$ | async)">
    <clr-accordion-title>
      {{ todo.name }}
    </clr-accordion-title>
    <clr-accordion-content *clrIfExpanded>
      <div class="todo-accordion-content">
        <div class="todo-descricao">
          {{ todo.description }}
        </div>
        <clr-button-group class="todo-actions">
          <clr-button class="btn btn-outline" [routerLink]="['/', 'todos', todo.id]">Editar</clr-button>
          <clr-button class="btn btn-danger-outline" (click)="onDelete(todo)">Deletar</clr-button>
        </clr-button-group>
      </div>
    </clr-accordion-content>
  </clr-accordion-panel>
</clr-accordion>
